<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To Do App</title>
</head>

<body>
    <div id="app">
        <header>
            <h1>to do's</h1>
        </header>
        <main>

            <div id="div-all-filter">
                <div class="filter-container">
                    <input type="radio" v-model="filterOption" id="filter-all" name="filter" value="all">
                    <label for="filter-all">all</label>

                </div>
                <div class="filter-container">
                    <input type="radio" v-model="filterOption" id="filter-open" name="filter" value="open">
                    <label for="filter-open">open</label>

                </div>
                <div class="filter-container">
                    <input type="radio" v-model="filterOption" id="filter-done" name="filter" value="done">
                    <label for="filter-done">done</label>

                </div>

            </div>
            <label for="input-todo" hidden>Hier to do eingeben</label>
            <input v-on:keyup.enter="addToDo(newToDo)" v-model.trim="newToDo" id="input-todo" type="text"
                placeholder="You've got work to do">

            <section> <button @click="addToDo(newToDo)" id="add-btn">add</button>
                <button @click="deleteDone()" id="delete-done-btn">delete done
            </section>


            </button>
            <ul id="list">
                <li v-for="todo in toDos">{{todo.description}}
                    <input class="checkbox-todo" type="checkbox" id="todo.id" v-model="todo.done">
                </li>

            </ul>

        </main>
    </div>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>
</body>

</html>